apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: monitoring
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.pos
      tag kubernetes.*
      <parse>
        @type multi_format
        <pattern>
          format json
        </pattern>
        <pattern>
          format none
        </pattern>
      </parse>
    </source>

    <filter kubernetes.**>
      @type kubernetes_metadata
    </filter>

    <match kubernetes.**>
      @type elasticsearch
      @id out_es
      host ${ELASTICSEARCH_HOST}
      port ${ELASTICSEARCH_PORT:-9200}
      logstash_format true
      include_tag_key true
      reload_connections true
      type_name _doc
      user ${ELASTICSEARCH_USER:-}
      password ${ELASTICSEARCH_PASSWORD:-}
      <buffer>
        flush_interval 5s
      </buffer>
    </match>
